<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Categories</h2>
            <p>This is where text goes</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center">
                    <img class="card-img-top w-100 d-block" src="avatars/avatar1.png">
                    <div class="card-body info">
                        <h4 class="card-title">John Smith</h4>
                        <p class="card-text">Some card text goes here.</p>
                        <div class="icons">
                            <a href="#">Link or something</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>