{{!-- index --}}
<section class="clean-block about-us">

    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Shop By Style</h2>
            <p>This is where text goes</p>
            <a class="btn btn-info" href="/new">+ Add New Category</a>
        </div>
        {{#each categories}}
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center">
                    <img class="card-img-top w-100 d-block" src="{{categoriesImg}}">
                    <div class="card-body info">
                        <h4 class="card-title">
                            <a href="/{{id}}">{{category}}</a>
                        </h4>
                        <p class="card-text">{{description}}</p>
                        <div class="icons">
                            <a href="#">Link or something</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    {{/each}}
</section>