<!DOCTYPE>
<html>

<head>
    <title>Bespoke App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <link
        href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Crimson+Text:400,600,600i,700i|EB+Garamond:400,400i,500,600i,700i,800|Kite+One|Major+Mono+Display|Noto+Serif+SC:200,300,400,700,900|Pattaya|Playfair+Display|Quicksand:400,700"
        rel="stylesheet">
    <link
        ref="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Codystar|Dawning+of+a+New+Day|Lateef|Text+Me+One"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

</head>

<body>

    {{!-- <header class="banner">
        <div class="container-fluid bg-secondary">
            <a href='/'>
                <h1 class="text-white">BESPOKE</h1>
            </a>
        </div>
    </header> --}}
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">

            <img src="{{Lotus.png}}" width="70" height="70" alt="Lotus Logo"><a class="navbar-brand"
                style="color: #f6f5f5;" href="/">
                <h4 class="text-white">BESPOKE</h4>
            </a>

            <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-fill" id="navbarNavAltMarkup">
                <div class="navbar-nav summary nav-item">
                    <a class="nav-item nav-link about" href="" style="color: #ffffff;">Glam<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link about" href="" style="color: #f6f5f5;">Modern</a>
                    <a class="nav-item nav-link about" href="" style="color: #f6f5f5;">Rustic</a>
                    <a class="nav-item nav-link about" href="" style="color: #f6f5f5;">Traditional</a>
                    <a class="nav-item nav-link about" href="" style="color: #f6f5f5;">French</a>
                    <a class="nav-item nav-link about" href="" style="color: #f6f5f5;">Eclectic</a>
                </div>
            </div>
            <div class="navbar-nav collapse navbar-collapse justify-content-end">
                {{!-- <ul class="icons">
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com/jessicabperez/" class="fa fa-instagram"></a>
                    <a href="mailto:jessica@jessica-perez.com"><i class="fa fa-envelope-o"
                            style="font-size:25.6px"></i></a>
                </ul> --}}
            </div>
    </nav>




    {{{ body }}}
</body>

</html>