    h4 {
        font-size: 4.5vw;
        font-family: "playfair display sc";
    }
    /*Navbar style*/
    
    .navbar {
        width: 100%;
        background-color: black;
        height: 4.5rem;
        position: relative;
        z-index: 2;
    }
    /*  Skills List  */
    
    .summary .about {
        padding: 1.1rem 1.25rem;
        list-style: none;
        text-decoration: none;
        font-family: "Noto Serif";
        font-size: 1.3rem;
    }
    
    .summary .about:hover {
        transform: scale(1.1);
        color: black;
        background: #80c8ff;
    }
    /* Aligned Toggler to the Middle */
    
    .navbar-toggler {
        margin-top: -1rem;
    }
    
    .summary a {
        font-size: 1rem;
        padding: 100rem;
    }
    /*Change Background Color of Skills Section in NAV BUT NOT DROPDOWN*/
    
    .summary a {
        background-color: black;
    }
    /* Moved the MAIN PAGE SUMMARY ICONS to the left*/
    
    .summary {
        margin-left: 3rem;
    }
    /*Index*/
    
    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }
    
    body {
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }
    
    @media (min-width:576px) {
        .clean-block {
            padding-bottom: 100px;
        }
    }
    
    .clean-block {
        padding-bottom: 50px;
    }
    
    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
        display: block;
    }
    
    @media (min-width:1200px) {
        .container {
            max-width: 1140px;
        }
    }
    
    @media (min-width:992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media (min-width:768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width:576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width:576px) {
        .clean-block .block-heading {
            padding-top: 80px;
        }
    }
    
    .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }
    /*About us design*/
    
    .clean-block .block-heading h1,
    .clean-block .block-heading h2,
    .clean-block .block-heading h3 {
        margin-bottom: 1.2rem;
    }
    
    .text-info {
        color: #3b99e0!important;
        font-family: "petit formal script";
    }
    
    .h2,
    h2 {
        font-size: 2rem;
    }
    /*Row in cards*/
    
    .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    
    .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    /*About row col*/
    
    @media (min-width:992px) {
        .col-lg-4 {
            -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
    }
    
    @media (min-width:576px) {
        .col-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    /*Clean Card*/
    
    @media (min-width:992px) {
        .clean-card {
            margin-bottom: 0;
        }
    }
    
    .clean-card {
        box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
        border-radius: 3px;
        margin-bottom: 40px;
        border: 1px solid #eaeaea;
    }
    
    .text-center {
        text-align: center!important;
    }
    /*card img*/
    
    .w-100 {
        width: 100%!important;
        /*height: 12rem;*/
    }
    
    .d-block {
        display: block!important;
    }
    
    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }
    
    img,
    svg {
        vertical-align: middle;
    }
    
    img {
        border-style: solid;
    }
    /*Card Body Info*/
    
    .clean-card .info {
        padding: 30px;
    }
    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    /*Card Category Title*/
    
    .clean-card h4 {
        font-weight: 600;
        font-size: 1em;
    }
    
    .card-title {
        margin-bottom: .75rem;
    }
    
    .h4,
    h4 {
        font-size: 1.5rem;
    }
    /*Clean Card Paragraph*/
    
    .clean-card p {
        opacity: .8;
        font-size: .85em;
        margin-bottom: .9em;
    }
    
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    /*The "design it"*/
    
    .design {
        color: pink;
    }
    /*Will fill the card text paragraph*/
    
    .card-text {
        text-align: left;
        letter-spacing: .1rem;
    }
    /*Form for New Page CSS*/
    
    .clean-block.clean-form form {
        border-top: 2px solid #5ea4f3;
        background-color: #fff;
        max-width: 500px;
        margin: auto;
        padding: 40px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    }
    
    .form-group {
        margin-bottom: 1rem;
    }
    
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-control {
            transition: none;
        }
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    /*Subject field*/
    
    .form-group {
        margin-bottom: 1rem;
    }
    
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    
    .form-control:focus {
        color: #495057;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-control {
            transition: none;
        }
    }
    
    .btn:hover {
        color: #212529;
        text-decoration: none;
    }
    /*Pointer Cursor On Scroll*/
    
    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
    }
    
    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
    
    .btn-block {
        display: block;
        width: 100%;
    }
    /*Main Button on New*/
    
    .btn-primary {
        color: #fff;
        background-color: #80c8ff;
        border-color: #007bff;
    }
    /*Hover changes over submit*/
    
    .btn-primary:hover {
        background-color: #48a0ff;
        border-color: #0062cc;
    }
    
    @media (prefers-reduced-motion:reduce) {
        .btn {
            transition: none;
        }
    }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    button,
    input {
        overflow: visible;
    }
    /*Added space between input box in Create Your Style page */
    
    .block-heading p {
        margin-bottom: 2.5rem;
    }
    /*Show Page*/
    /*Background for whole page*/
    
    .clean-block.dark {
        background-color: #f6f6f6;
    }
    
    @media (min-width:576px) {
        .clean-block {
            padding-bottom: 100px;
        }
    }
    
    .clean-block {
        padding-bottom: 50px;
    }
    /*May not do anything*/
    
    @media (min-width:576px) {
        .clean-block .block-heading {
            padding-top: 80px;
        }
    }
    
    @media (min-width:1200px) {
        .container {
            max-width: 1140px;
        }
    }
    
    @media (min-width:992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media (min-width:768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width:576px) {
        .container {
            max-width: 540px;
        }
    }
    /*Whole Page Block content*/
    
    .clean-block.clean-product .block-content {
        padding: 20px;
    }
    
    .clean-block .block-content {
        padding: 40px;
    }
    
    .clean-block .block-content,
    .clean-block .content {
        box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
        background-color: #fff;
    }
    /*Product Info*/
    /*For Gallery Picture*/
    
    .clean-block.clean-product .gallery {
        padding: 20px;
    }
    /*Screem Wrap Look to fix!*/
    
    @media (min-width:870px) {
        .card-product {
            margin-left: 10rem;
            margin-right: 10rem;
        }
    }
    /*Spaces out stuff in cards*/
    
    .info h3 {
        font-family: "Playfair Display SC";
        margin-bottom: 3rem;
    }
    /*Class for button*/
    
    .show {
        margin-bottom: 3rem;
    }
    
    .summary p {
        margin-bottom: 3rem;
        font-family: 'text me one';
        font-size: 1.2rem;
    }
    
    .product-info {
        background-color: rgb(240, 240, 240);
    }
    
    .category-pink {
        font-family: "petit formal script";
        color: pink;
        font-size: 1.8rem;
    }
    
    @media (min-width: 870px) {
        .info h3 {
            margin-top: 3rem;
        }
        .delete-button {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }
    /* Description and Specification Page*/
    
    @media (min-width:576px) {
        .clean-block .block-heading {
            padding-top: 80px;
        }
    }
    
    .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .container .pallet {
        width: 100%;
    }
    /*Design Pages*/
    
    .category-design h3 {
        font-family: "playfair display sc";
    }
    
    .card-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .flair-name {
        font-family: "playfair display sc";
        color: pink;
    }
    
    .bespoke-logo {
        margin-left: 4rem;
    }