<section class="clean-block about-us">

    {{!-- <div class="container"> --}}
    <div class="block-heading">
        <h2 class="text-info">If you can <span class="design">dream</span> it, design it</h2>
        <p>Don't see what you like? Add your own!</p>
        {{!-- <a class="btn btn-primary main" href="/new">+ Add New Style!</a> --}}
    </div>
    <div class="flex-container card-flex">
        {{#each flair}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{flairImg}}" alt="Styles Pictures">
            <div class="card-body">
                <p class="card-text">{{flairDescription}}</p>
            </div>
        </div>
        {{/each}}
    </div>










</section>